body{
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-size: 22px;
    text-align: center;
}
.search > * {
    padding-bottom: 12px;
}
select, input, button{
    font-size: 18px;
    padding: 5px 8px;
}
button{
    padding: 5px 25px;
}
.wrapper{
    width: 80%;
    max-width: 1600px; /* для ограничения максимальной ширины на больших экранах */

}
.table{
    margin-top: 20px;
    width: 100%;
    display: grid;
    grid-auto-rows: minmax(40px, auto);
    grid-template-columns: 100%;
}
.headers{
    font-weight: bold;
    font-size: 24px;
}
.row{
    display: grid;
    grid-template-columns: repeat(5, 20%);
    font-size: 20px;
}
.table .cell {
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    word-break: break-all;
    flex-direction: column;
    padding: 5px;
}
@media (max-width: 420px) {
    .row{
        grid-template-columns: 100%;
        grid-auto-rows: minmax(50px, auto);
    }
    .headers{
        display: none;
    }
    button{
        margin-top: 8px;
    }
    .cell::before {
        content: attr(data-header); /* Вставляем заголовок в контент ячеек */
        margin-bottom: 5px;
        font-style: italic;
        font-weight: 550;
        
    }

}

